@import "../styles/variables.less";

.@{prefix}toast {
  width: 300px;
  display: flex;
  justify-content: center;

  > view {
    transform: translateY(120px);
    background-color: #333;
    border-radius: 20px;
    color: #fff;
    padding: 6px 16px 6px 12px;
    width: fit-content;
    word-break: break-all;
    font-size: 14px;
    line-height: 1.6;
    display: flex;
    align-items: center;

    &:empty {
      display: none;
    }
  }

  &-loading,
  &-success,
  &-fail {
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      margin-right: 6px;
      background-size: cover;
    }
  }

  &-loading::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik03NTMuMzY1IDI3MC42MzVhNDYuMDggNDYuMDggMCAwIDEtNjEuMjI2IDMuNDk4IDIyMC45NyAyMjAuOTcgMCAwIDAtMTQuMjk0LTEwLjU4MSAyOTguNzUyIDI5OC43NTIgMCAwIDAtNDQxLjc3IDM2Mi42NjcgMjk4LjY2NyAyOTguNjY3IDAgMCAwIDU3MS45MDQtNzQuMjgzQTQ1LjY5NiA0NS42OTYgMCAwIDEgODUzLjMzMyA1MTJoMy4zMjhhMzcuMzMzIDM3LjMzMyAwIDAgMSAzNy4xMiA0MS4zMDEgMzg0IDM4NCAwIDEgMS0xNTEuOTM2LTM0OC45N2MyLjU2IDEuOTIgNS40MTkgNC4xODEgOC42MTkgNi44MjZhNDAuMTkyIDQwLjE5MiAwIDAgMSAyLjkwMSA1OS40Nzh6IiBmaWxsPSIjZmZmIi8+PC9zdmc+Cg==);
    animation: spin 1s linear infinite;
  }
  &-success::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik01MTIgOTM4LjY2N0MyNzYuMzUyIDkzOC42NjcgODUuMzMzIDc0Ny42NDggODUuMzMzIDUxMlMyNzYuMzUyIDg1LjMzMyA1MTIgODUuMzMzIDkzOC42NjcgMjc2LjM1MiA5MzguNjY3IDUxMiA3NDcuNjQ4IDkzOC42NjcgNTEyIDkzOC42Njd6bTAtODUuMzM0YTM0MS4zMzMgMzQxLjMzMyAwIDEgMCAwLTY4Mi42NjYgMzQxLjMzMyAzNDEuMzMzIDAgMCAwIDAgNjgyLjY2NnpNNDM5LjQyNCA2NTIuNjMgMzE4LjU5MiA1MzEuNzk3YTQyLjY2NyA0Mi42NjcgMCAxIDEgNjAuMzMtNjAuMzNsOTAuNTQgOTAuNTM4IDE5MC4wOC0xODcuOTg5YTQyLjkyMyA0Mi45MjMgMCAwIDEgNjAuNTQzLjE3IDQyLjQ1MyA0Mi40NTMgMCAwIDEtLjEyOCA2MC4yMDNMNDk5LjYyNyA2NTIuOGE0Mi42NjcgNDIuNjY3IDAgMCAxLTYwLjIwMy0uMTI4eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==);
  }
  &-fail::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik01MTIgOTM4LjY2N0MyNzYuMzUyIDkzOC42NjcgODUuMzMzIDc0Ny42NDggODUuMzMzIDUxMlMyNzYuMzUyIDg1LjMzMyA1MTIgODUuMzMzIDkzOC42NjcgMjc2LjM1MiA5MzguNjY3IDUxMiA3NDcuNjQ4IDkzOC42NjcgNTEyIDkzOC42Njd6bTAtODUuMzM0YTM0MS4zMzMgMzQxLjMzMyAwIDEgMCAwLTY4Mi42NjYgMzQxLjMzMyAzNDEuMzMzIDAgMCAwIDAgNjgyLjY2NnptMC00MDEuNjY0IDkwLjQ1My05MC40OTZhNDIuNjY3IDQyLjY2NyAwIDAgMSA2MC4zNzQgNjAuMzc0TDU3Mi4zMyA1MTJsOTAuNDk2IDkwLjQ1M2E0Mi42NjcgNDIuNjY3IDAgMCAxLTYwLjM3NCA2MC4zNzRMNTEyIDU3Mi4zM2wtOTAuNDUzIDkwLjQ5NmE0Mi42NjcgNDIuNjY3IDAgMSAxLTYwLjQxNi02MC4zMzFMNDUxLjcxMiA1MTJsLTkwLjUzOS05MC40NTNhNDIuNjY3IDQyLjY2NyAwIDEgMSA2MC4zMzEtNjAuMzc0TDUxMiA0NTEuNjd6IiBmaWxsPSIjRkZGIi8+PC9zdmc+);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
