@import "../ui/styles/variables.less";

page {
  height: 100%;
  overflow: hidden;
  font-family: @font-family;
}
.base-loading-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.base-loading-spin {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-color: #1989fa #1989fa transparent transparent;
  animation: spin 1s linear infinite;
}
.base-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.base-content {
  flex: 1;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page-main {
  flex: 1;
  height: 0;
  overflow-x: hidden;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
