.loading-color {
  .taroify-loading__spinner {
    color: #1989fa;
  }
}
.loading-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
page {
  height: 100%;
}
.taroify-toast + .taroify-backdrop {
  --backdrop-background-color: transparent;
}
