.base-loading-color {
  .taroify-loading__spinner {
    color: #1989fa;
  }
}
.base-loading-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
page {
  height: 100%;
  overflow: hidden;
}
.taroify-toast + .taroify-backdrop {
  --backdrop-background-color: transparent;
}
.base-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .taroify-navbar__icon {
    display: none;
  }
}
.base-content {
  flex: 1;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page-main {
  flex: 1;
  height: 0;
  overflow-x: hidden;
}
